* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
}

.animat {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  opacity: 0.6;
  background-color: white;
 
  animation-iteration-count: infinite;
 
  animation-name: animation;
  animation-duration: 4s;
  animation-timing-function: linear;
}

.animation {
   
  background-color: skyblue;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: auto;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
@keyframes animation{
    from{
        transform: scale(1);
        
    }
    to{
        transform: scale(.5);
    }
}
 .container{
    transform: translate(-50%, 50%);
  position: absolute;
  left: 50%;
  bottom: 50%;
 }